name: CI User Service

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build-and-analyze:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build and Sonar Analysis
        # Pas de tiret devant working-directory et run
        working-directory: ./userService
        run: |
          mvn clean install -DskipTests
          mvn sonar:sonar \
            -Dsonar.projectKey=UserServiceKey \
            -Dsonar.host.url=https://golda-lucent-jolyn.ngrok-free.dev \
            -Dsonar.token=sqa_d1ef9dbf17f5ba822980c245a7336e4db955a4f8